<div class="sponsored-section-sponsors">
    <p>Thank you to our members!</p>
    <ul class="list-inline">
    {{ range .data.items }}
        <li class="margin-10">
            <a href="{{ .link }}"
                ><img width="{{ .img_width }}" alt="{{ .title }}" src="{{ .image }}"/>
            </a>
        </li>
    {{ end }}
    </ul>
</div>